{% extends 'index.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 20rem;">
    <h3 class="text-center mb-4">Login</h3>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
      <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email..">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password..">
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
      <p class="mx-5 my-2">New User? Signup <a href="{% url 'register' %}" style="text-decoration: None;">here</a></p>
    </form>

  </div>
</div>

{% endblock %}
